# ==========================================
# Java / Maven
# ==========================================
target/

# ==========================================
# IntelliJ IDEA
# ==========================================
.idea/
*.iml

# ==========================================
# Visual Studio Code
# ==========================================
.vscode/

# ==========================================
# Eclipse
# ==========================================
.metadata/
.classpath
.project
.settings/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Sistema Operacional
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Banco de Dados
# ==========================================
*.mdf
*.MDF
*.ldf
*.LDF
*.bak
*.BAK

# ==========================================
# Arquivos de Configuração
# ==========================================
*.properties
**/*.properties